Repository maistra/maistra-test-tool, pull requests merged in 2025-01, with the labels that each got.

#769 create "persistent" test group
  pkg/tests/ossm/bug_istiopods_test.go
  pkg/tests/ossm/bug_rolebinding_test.go
  pkg/tests/ossm/operator/operator_deadlock_test.go
  pkg/tests/ossm/operator/operator_readiness_test.go
  pkg/tests/ossm/ratelimit_test.go
  pkg/tests/ossm/route_prevent_additional_ingress_test.go
  pkg/tests/ossm/smcp_annotation_test.go
  pkg/tests/ossm/smcp_logging_test.go
  pkg/tests/ossm/smcp_must_gather_test.go
  pkg/tests/ossm/smcp_secret_test.go
  pkg/tests/ossm/smcp_tls_ssl_test.go
  pkg/tests/ossm/smm_test.go
  pkg/tests/ossm/testssl_test.go
  pkg/tests/tasks/injection/native_sidecars_test.go
  pkg/tests/tasks/security/authentication/auth_test.go
  pkg/tests/tasks/security/authentication/mtls_migration_test.go
  pkg/tests/tasks/security/authorization/deny_test.go
  pkg/tests/tasks/security/authorization/ext_auth_test.go
  pkg/tests/tasks/security/authorization/http_test.go
  pkg/tests/tasks/security/authorization/jwt_test.go
  pkg/tests/tasks/security/authorization/tcp_test.go
  pkg/tests/tasks/security/authorization/trust_domain_test.go
  pkg/tests/tasks/traffic/circuit_breaking_test.go
  pkg/tests/tasks/traffic/egress/access_external_services_test.go
  pkg/tests/tasks/traffic/egress/egress_gateways_test.go
  pkg/tests/tasks/traffic/egress/egress_gateways_tls_file_mount_test.go
  pkg/tests/tasks/traffic/egress/egress_gateways_tls_sds_test.go
  pkg/tests/tasks/traffic/egress/egress_tls_origination_test.go
  pkg/tests/tasks/traffic/egress/egress_wildcard_hosts_test.go
  pkg/tests/tasks/traffic/fault_injection_test.go
  pkg/tests/tasks/traffic/ingress/gatewayapi_test.go
  pkg/tests/tasks/traffic/ingress/ingress_gateways_test.go
  pkg/tests/tasks/traffic/ingress/ingress_without_tls_termination_test.go
  pkg/tests/tasks/traffic/ingress/secure_gateways_test.go
  pkg/tests/tasks/traffic/request_routing_test.go
  pkg/tests/tasks/traffic/request_timeouts_test.go
  pkg/tests/tasks/traffic/traffic_mirroring_test.go
  pkg/tests/tasks/traffic/traffic_shifting_test.go
  pkg/tests/tasks/traffic/traffic_tcp_shifting_test.go
  pkg/util/oc/oc.go
  pkg/util/oc/oc_struct.go
  pkg/util/pod/pods.go
  pkg/util/test/test.go
  scripts/runtests.sh
Labels: size/L

#770 Enable Tempo test for Z platform
  pkg/tests/ossm/tempo_tracing_test.go
Labels: size/XS, okay to merge

#771 Add a test for 2.6 --> 3.0 migration
  pkg/tests/ossm/setup.go
  pkg/tests/tasks/migration/bookinfo-gateway.yaml
  pkg/tests/tasks/migration/main_test.go
  pkg/tests/tasks/migration/migration_test.go
  pkg/util/curl/curl.go
  pkg/util/env/env.go
  pkg/util/oc/pod_commands.go
  pkg/util/test/test.go
Labels: size/L, ok-to-test, okay to merge

#772 Add external lb
  pkg/tests/ossm/setup.go
  pkg/tests/tasks/migration/enable-strict-mtls-peer-auth.yaml
  pkg/tests/tasks/migration/main_test.go
  pkg/tests/tasks/migration/migration_test.go
  pkg/util/check/assert/http_response.go
  pkg/util/env/env.go
  pkg/util/oc/oc.go
  pkg/util/oc/oc_struct.go
  pkg/util/oc/pod_commands.go
Labels: size/L, ok-to-test, okay to merge
